<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Friend List</h1>
    <table>
        <tr>
            <th>id</th>
            <th>{{object.id}}</th>
        </tr>
        <tr>
            <th>name</th>
            <th>{{object.name}}</th>
        </tr>
            <th>mail</th>
            <th>{{object.mail}}</th>
        </tr>
            <th>age</th>
            <th>{{object.age}}</th>
        </tr>
    </table>
</body>
</html>